extends ../template

block variables
    - var title = 'Обо мне'

block content
    .wrapper
        include ../common/hero.pug
        section.section.about
            .about__left
                //- .triangle.tringle_fill_beige.about__left-triangle
                //-     svg.about__left-triangle__icon
                //-         use(xlink:href=`assets/images/sprite.svg#about_bg_left`)
                //- .about-title
                //-     svg.about-title__icon
                //-         use(xlink:href=`assets/images/sprite.svg#stars2`)
                .about__left-title
                    .block-title.block-title__cover ОБО МНЕ
                .about__left-content
                    .user-description
                        .user-description__image
                            img.user-description__avatar(src="assets/images/ava.jpg")
                        .user-description__title
                            .block-subtitle КТО Я
                        .user-description__text.text-content
                            p Я веб разработчик из Казахстана,город Караганда. Мне 23 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
            .about__right
                //- .triangle.tringle_fill_white.about__right-triangle
                //-     svg.about__right-triangle__icon
                //-         use(xlink:href=`assets/images/sprite.svg#about_bg_right`)
                .about__right-title
                    .block-subtitle Чем я могу быть вам полезна
                .about__right-text.text-content
                    p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                .about__right-content
                    ul.skills-list
                        each item in ['Frontend', 'Backend', 'Workflow']
                            li.skills-list__item
                                .skills-row
                                    .skills-row__title #{item}
                                    ul.skills-row__list
                                        each skill in ['HTML5', 'CSS3', 'JavaScript & JQuery']
                                            li.skills-row__item
                                                .skill
                                                    svg.skill__circle(viewBox='0 0 110 110')
                                                        circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
                                                        circle.circle__second(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)")
                                                    .skill__title #{skill}
        section.section.map
            .google-map#map
            .map__contacts
                .contacts.center
                    .contacts__title
                        .block-subtitle Контакты
                    ul.contacts__list
                        - 
                          var contacts = [
                            ['skype_n', 'nldrummer'],
                            ['envelope_n', 'inkatsoy08@gmail.com'],
                            ['phone_n', '+7707 170 85 30'],
                            ['map_n', 'Караганда'],
                          ]
                        each contact in contacts
                            li.contacts__item
                                .contacts-row
                                    svg.contacts-row__icon #{contact[0]}
                                        use(xlink:href=`assets/images/sprite.svg#${contact[0]}`)
                                    .contacts-row__content #{contact[1]}
        include ../common/footer.pug
        script(async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgOLt0EeQg_UL0qmU9DqGmq8NvJiVTiZ4&callback=initMap")
    .dark-menu#dark-menu
        .dark-menu__items
            nav.nav_hamburger
                ul.nav__list#nav__list_hamburger
                    li.nav__item_hamburger
                        a.nav__link Мои работы
                    li.nav__item_hamburger
                        a.nav__link Блог
                    li.nav__item_hamburger
                        a.nav__link Обо мне
                    li.nav__item_hamburger
                        a.nav__link Авторизация